.nav-bar {
    background-color: $color-yellow;   
    width: 100%;
    position: relative;
    z-index: 1;
    transform: translateY(3rem);
    

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:6rem;
    }

    &__item {
        text-decoration: none;
        color:$color-black;
        font-weight: 700;
        font-size: 1.4rem;
    }
}